<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
     <strong>Restaurant</strong><br>
            2738 S Wentworth,
            Chicago, IL 60616
            Phone No:888-888-88888<br>
            Email: <a href="mailto:#">mithun.alinkil@gmail.com</a>
            Follow us On:

            <a href="https://www.facebook.com/"><img class="social_pics" src="images/facebook.png" alt="" width="20" height="20">Facebook</a>
            <a href="https://twitter.com/"><img class="social_pics" src="images/twitter.png" alt="" width="20" height="20">Twitter</a>
            <a href="https://youtube.com/"><img class="social_pics" src="images/youtube.png" alt="" width="20" height="20">YouTube</a>

  </div>
</nav>
</footer>

  