
<div class="navbar navbar-inverse">
        <div id="header" class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a class="navbar-brand" href="#/aboutUs"><img class="logo" src="images/eat.jpg"></a>
                <a class="navbar-brand" href="#/aboutUs"><h3><i>&nbsp &nbsp &nbsp &nbsp &nbsp Eatery</i></h3></a>
            </div>
            <div class="navbar-collapse collapse" style="height: 10px;">
               
                <ul class="nav navbar-nav navbar-right ">
                   <li class="btn btn-primary" role="presentation"><a href="#/aboutUs">About Us</a></li>
        <li class="btn btn-primary" role="presentation"><a href="#/csb">Catering Services & Branches </a></li>
        <li class="btn btn-primary" role="presentation"><a href="#/contactUs">Contact Us</a></li>
                </ul>

                
            </div>